// FOOTER

.app-footer {
  position: absolute;
  background: #000;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 9999;
  padding: 1rem 0;

  @include tablet {
    z-index: 9;
  }

  &__container {
    @include flexbox {
      justify-content: space-evenly;
      align-items: center;
    }

    padding-top: 0.4rem;

    p {
      font-size: 1.5rem;
      color: $color-description;
      margin: 1rem 0;
      text-align: center;

      // Media queries for small devices
      @include small {
        font-size: 1.2rem !important;
      }
    }


    // Media queries medium devices
    @include medium {
      @include flexbox {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        padding: 1rem
      }
    }
  }

  // Link about Me
  &__about-link {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: $color-description;
    text-decoration: none;

    // Media queries small devices
    @include small {
      font-size: 1.2rem !important;
    }
  }

  // Link to github page
  &__github-app-link {
    color: $color-description;
    font-size: 2.5rem;
  }

}