// HEADER
.app-header {
  background-color: $color-header;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  width: 100%;
  height: $header-height;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    height: 100%;
  }

  &__logo {
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.4s ease-in-out;

    @include desktop {
      margin: 0 2rem;
    }

    @include wide {
      font-size: 3rem;
    }

    &:hover {
      color: $color-link-hover;
    }
  }
}

  .opened-mobile-menu-overlay {
    display: none;
    position: fixed;
    top: $header-height;
    left: 0;
    z-index: 1;
    background: $color-overlay;
    height: 100vh;
    width: 100vw;

    &.toggle {
      display: block;
    }
  }
