// Home Page


// Wrapper for background image on
.bg-wrapper-home {
  background-image: linear-gradient($color-bg-linear-default, $color-bg-linear-default), url("../images/home-page-bg-tiny.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  position: relative;

  @include flexbox {
    flex-direction: column;
    justify-content: space-between;
  }

}



// Section Main
.app-home {
  position: relative;
  margin-left: 26rem;
  margin-top: 10rem;
  padding-bottom: 10rem;



  @include tablet {
    width: 100%;
    margin-left: 0;
  }

  @include mobile {
    padding: 3rem 1rem 0;
  }


  &__content {
    padding: 1rem;
    text-align: center;
  }


  &__title {
    font-size: 6rem;
    color: $color-title;
    margin: 5rem 0 3rem;
    text-transform: uppercase;
    font-style: italic;


    @include tablet {
      font-size: 4.5rem;
      width: 100%;
    }


    @include mobile {
      font-size: 3.5rem;
      margin-top: 0;
    }
  }


  &__description {
    font-size: 2.5rem;
    line-height: 1.5;
    letter-spacing: 0.2rem;
    width: 50%;
    color: #ccc;
    margin: 0 auto;
    text-align: center;


    @include tablet {
      font-size: 2.5rem;
      width: 80%;
      // margin-top: 3rem;
    }


    @include mobile {
      font-size: 2rem;
      width: 100%;
    }
  }
}