// Menu

// Menu Nav
.app-menu {
  width: 250px;
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: $color-bg-primary;
  height: 100vh;
  z-index: 9999;

  // Menu list ul
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 8rem 1.5rem;
    margin-bottom: 3rem;



    // Menu Link
    a {
      text-decoration: none;
      display: block;
      font-size: 1.8rem;
      border: 2px solid #fff;
      margin-top: 2.5rem;
      text-align: center;
      font-weight: 700;
      color: #fff;
      padding: 1rem 2rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;

      // Hover on menu link
      &:hover {
        background: $color-bg-hover;
      }
    }

  }

  // Media queries tablet for navigation
  @include tablet {
    visibility: hidden
  }

}



// Active Menu class -----> toggle on navTrigger click
.active-menu {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 80%;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;

  @include mobile {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
  }
}