// Page with search input

// wrapper for background image
.bg-wrapper-search {
  background-image: linear-gradient($color-bg-linear-default, $color-bg-linear-default), url("../images/search-bg-tiny.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  position: relative;

  @include flexbox {
    flex-direction: column;
    justify-content: space-between;
  }
}


// Main section search
.app-search {
  position: relative;
  margin: 10rem 0 3rem 30rem;
  padding: 0 0 10rem 0;

  // Main section search media queries tablet
  @include tablet {
    width: 100%;
    margin-left: 0;
  }


  // Search content box
  &__content {
    padding: 2.5rem;
    text-align: center;

    // Content box Media queries tablet
    @include tablet {
      flex-basis: 100%;
      margin-top: -3rem;
    }

    // Content box media queries mobile
    @include mobile {
      padding-left: 1rem;
      margin-top: 1.5rem;
    }
  }


  &__title {
    font-size: 6rem;
    color: $color-title;
    margin: 1rem 0 1.5rem;
    text-transform: uppercase;

    @include tablet {
      font-size: 4.5rem;
      width: 100%;
    }

    @include mobile {
      font-size: 3.5rem;
      margin-top: 0;
    }
  }


  &__input {
    width: 100%;
    height: 6rem;
    border-radius: 3rem;
    background: rgba(87, 87, 81, 0.432);
    border: none;
    outline: none;
    color: $color-description;
    font-size: 3rem;
    padding: 3rem;

    // Media queries tablet
    @include tablet {
      width: 90%;
      height: 4rem;
      font-size: 2.5rem;
      padding: 2.5rem;
    }

    // Media queries mobile
    @include mobile {
      width: 100%;
      height: 3rem;
      font-size: 2rem;
      padding: 2rem;
    }
  }



  // Results of search box
  &__results {
    @include flexbox {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    margin: 3rem 0 0;

        // Results box media queries
        @include tablet {
          flex-direction: column;
          align-items: center;
          margin: 3rem 0;
          padding-bottom: 7rem;
        }

        @include mobile {
          padding-bottom: 10rem;
        }
      }
}

  // One result box
.result-box {
  margin: 1rem 2rem 3rem 0;
  background-size: cover;
  background-position: center center;
  height: 25rem;
  width: 25rem;
  margin-right: 2rem;
  box-shadow: 0px 4px 17px 19px rgba(0, 0, 0, 0.6);

  // Image as a link // styles for hover on image
  .result-link {
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    height: 100%;
    width: 100%;
    position: relative;
    text-decoration: none;
    // transition: opacity 0.6s;

    @include flexbox {
      align-items: center;
      justify-content: center;
    }

    &:hover {
      opacity: 1;
    }

    // Name of found drink on hover
    .result-info {
      color: $color-description;
      font-size: 3rem;
      text-transform: uppercase;
      padding: 1.5rem;
      border: 2px solid $color-description;
      text-align: center;
    }
  }
}