// FOOTER

.app-footer {
  position: relative;
  background: #000;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  padding: 1rem 0;
  height: $footer-height-mobile;
  margin: $header-height 0 0;

  @include small {
    height: $footer-height-small;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    @include small {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__copy {
    font-size: 1.8rem;
    color: $color-description;
    text-align: center;
    margin: 1rem auto 0;

    @include small {
      margin: 0;
      padding: 1rem;
    }
  }

  &__link {
    color: $color-description;
    font-size: 2.5rem;
    padding: 1rem;
  }
}
