.mobile-menu-trigger {
  margin: 0 -1rem;
  padding: 1rem 2rem 1rem 1rem;

  &:hover {
    cursor: pointer;
  }

  @include desktop {
    display: none;
  }

  &__wrapper {
    width: 2.4rem;
    height: 2.4rem;
    transition: transform 330ms ease-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include small {
      width: 2.7rem;
      height: 2.7rem;
    }

    &.open {
      transform: rotate(-45deg);

      .mobile-menu-trigger__line.start {
        transform: rotate(-90deg) translateX(3px);
      }

      .mobile-menu-trigger__line.end {
        transform: rotate(-90deg) translateX(-3px);
      }
    }
  }

  &__line {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 6px;

    &.half {
      width: 50%;
    }

    &.start {
      transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
      transform-origin: right;
    }

    &.end {
      align-self: flex-end;
      transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
      transform-origin: left;
    }
  }
}
