// Colors
$color-default: #fff; // Default color for text
$color-title: #daa520; // Default titles color
// $color-subtitle: rgb(182, 43, 43);
$color-bg-linear-default: rgba(0, 0, 0, 0.5); // linear background for background images
$color-description: #ccc; // Color for descriptions
$color-bg-hover: rgba(218, 165, 32, 0.6); // Color for Hover background
$color-link-hover: #cccccc;
$color-overlay: rgba(49, 48, 48, 0.85);


$color-header: #000;

$font-title: 'Anton', sans-serif;
// Sizes
$header-height: 70px;
$footer-height-mobile: 115px;
$footer-height-small: 70px;
