@import "modules/variables";
@import "modules/breakpoints";
@import "modules/base";
@import "modules/flexbox";



@import "partials/home-page";
@import "partials/menu";
@import "partials/header";
@import "partials/mobile-menu-trigger";
@import "partials/footer";
@import "partials/recipe-page";
@import "partials/search-main";
@import "partials/all-drinks-page";
@import "partials/loader";

// //  Back to previous view
// .back {
//     margin-top: 3rem;

//     // icon
//     i {
//       font-size: 5rem;
//       color: $color-description;

//       &:hover {
//         color: lighten($color-description, 20%);
//       }
//     }
//   }
